<!doctype html>
<html class="no-js" lang="en">

<head>
    <!-- Meta data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Raider Tickets - Login</title>

    <!-- Fonts and Favicon -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="shortcut icon" type="image/icon" href="{{ url_for('static', filename='logo/favicon.png') }}" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">

    <!-- HTML5 shim and Respond.js for IE8 support -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Header -->
    <header id="header-top" class="header-top">
        <ul>
            <li>
                <div class="header-top-left">
                    <ul>
                        <li class="select-opt">
                            <select name="language" id="language">
                                <option value="default">EN</option>
                                <option value="Bangla">BN</option>
                                <option value="Arabic">AB</option>
                            </select>
                        </li>
                        <li class="select-opt">
                            <select name="currency" id="currency">
                                <option value="usd">USD</option>
                                <option value="euro">Euro</option>
                                <option value="bdt">BDT</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </header>

    <!-- Welcome Section -->
    <section id="home" class="welcome-hero">
        <div class="container">
            <div class="welcome-hero-txt">
                <h2>RAIDER TICKETS <br> EVERYTHING AND ALL YOU NEED</h2>
            </div>
            <div class="UserLogin">
                <h2>User Login</h2>
                <form id="user-login-form" action="{{ url_for('login') }}" method="POST">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="user-username" name="username" placeholder="Enter your username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="user-password" name="password" placeholder="Enter your password" required>
                    </div>
                    <button type="submit">Login</button>
                    {% if error_message %}
                        <p id="error-message" style="color: red;">{{ error_message }}</p>
                    {% endif %}
                </form>
            </div>
            <p style="color: aliceblue;">Are you admin? <a href="{{ url_for('login') }}" style="color: red;"> Login</a></p>
            <p style="color: aliceblue;">Don't have an account? <a href="{{ url_for('register') }}" style="color: red;"> Sign Up</a></p>
        </div>

        <div class="hm-footer-copyright">
            <div class="row">
                <div class="col-sm-5">
                    <p>
                        &copy; 2024 Raider Tickets. All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Scroll to Top -->
    <div id="scroll-Top">
        <div class="return-to-top">
            <i class="fa fa-angle-up" id="scroll-top" data-toggle="tooltip" data-placement="top" title="Back to Top"></i>
        </div>
    </div>

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
</body>

</html>
